Sigesoft/node/winclient/ui/Service References/NatclarXML/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://200.107.148.214:9152/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfServiceProveedorExterno" />
  <xs:element name="EnviarDatosPaciente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfServiceProveedorExterno" minOccurs="0" name="XML" nillable="true" type="q1:XmlDatosPaciente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarDatosPacienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfServiceProveedorExterno" minOccurs="0" name="EnviarDatosPacienteResult" nillable="true" type="q2:Resultado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarDatosExamen">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfServiceProveedorExterno" minOccurs="0" name="XML" nillable="true" type="q3:XmlDatosExamen" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarDatosExamenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfServiceProveedorExterno" minOccurs="0" name="EnviarDatosExamenResult" nillable="true" type="q4:Resultado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarDatosAlergias">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WcfServiceProveedorExterno" minOccurs="0" name="XML" nillable="true" type="q5:EstructuraDatosAlergias" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarDatosAlergiasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WcfServiceProveedorExterno" minOccurs="0" name="EnviarDatosAlergiasResult" nillable="true" type="q6:Resultado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarDatosAPMedicos">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WcfServiceProveedorExterno" minOccurs="0" name="XML" nillable="true" type="q7:EstructuraDatosAPMedicos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarDatosAPMedicosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WcfServiceProveedorExterno" minOccurs="0" name="EnviarDatosAPMedicosResult" nillable="true" type="q8:Resultado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarDatosAPQuirurgicos">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/WcfServiceProveedorExterno" minOccurs="0" name="XML" nillable="true" type="q9:EstructuraDatosAPQuirurgicos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarDatosAPQuirurgicosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/WcfServiceProveedorExterno" minOccurs="0" name="EnviarDatosAPQuirurgicosResult" nillable="true" type="q10:Resultado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>