Sigesoft/node/winclient/ui/Service References/NatclarXML/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://200.107.148.214:9152/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfServiceProveedorExterno" />
  <xs:element name="EnviarDatosPaciente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfServiceProveedorExterno" minOccurs="0" name="XML" nillable="true" type="q1:XmlDatosPaciente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarDatosPacienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfServiceProveedorExterno" minOccurs="0" name="EnviarDatosPacienteResult" nillable="true" type="q2:Resultado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarDatosExamen">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfServiceProveedorExterno" minOccurs="0" name="XML" nillable="true" type="q3:XmlDatosExamen" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarDatosExamenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfServiceProveedorExterno" minOccurs="0" name="EnviarDatosExamenResult" nillable="true" type="q4:Resultado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarDatosDocumentoseImagenes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WcfServiceProveedorExterno" minOccurs="0" name="XML" nillable="true" type="q5:EstructuraDatosDocseImagenes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarDatosDocumentoseImagenesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WcfServiceProveedorExterno" minOccurs="0" name="EnviarDatosDocumentoseImagenesResult" nillable="true" type="q6:Resultado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarDatosAlergias">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WcfServiceProveedorExterno" minOccurs="0" name="XML" nillable="true" type="q7:EstructuraDatosAlergias" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarDatosAlergiasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WcfServiceProveedorExterno" minOccurs="0" name="EnviarDatosAlergiasResult" nillable="true" type="q8:Resultado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarDatosAnalitica">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/WcfServiceProveedorExterno" minOccurs="0" name="XML" nillable="true" type="q9:EstructuraDatosAnalitica" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarDatosAnaliticaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/WcfServiceProveedorExterno" minOccurs="0" name="EnviarDatosAnaliticaResult" nillable="true" type="q10:Resultado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarDatosAPMedicos">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/WcfServiceProveedorExterno" minOccurs="0" name="XML" nillable="true" type="q11:EstructuraDatosAPMedicos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarDatosAPMedicosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/WcfServiceProveedorExterno" minOccurs="0" name="EnviarDatosAPMedicosResult" nillable="true" type="q12:Resultado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarDatosAPQuirurgicos">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/WcfServiceProveedorExterno" minOccurs="0" name="XML" nillable="true" type="q13:EstructuraDatosAPQuirurgicos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarDatosAPQuirurgicosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/WcfServiceProveedorExterno" minOccurs="0" name="EnviarDatosAPQuirurgicosResult" nillable="true" type="q14:Resultado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarDatosAudiometria">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/WcfServiceProveedorExterno" minOccurs="0" name="XML" nillable="true" type="q15:EstructuraDatosAudiometria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarDatosAudiometriaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/WcfServiceProveedorExterno" minOccurs="0" name="EnviarDatosAudiometriaResult" nillable="true" type="q16:Resultado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarDatosConstantes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/WcfServiceProveedorExterno" minOccurs="0" name="XML" nillable="true" type="q17:EstructuraDatosConstantes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarDatosConstantesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/WcfServiceProveedorExterno" minOccurs="0" name="EnviarDatosConstantesResult" nillable="true" type="q18:Resultado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarDatosEpisodio">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/WcfServiceProveedorExterno" minOccurs="0" name="XML" nillable="true" type="q19:EstructuraDatosEpisodio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarDatosEpisodioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/WcfServiceProveedorExterno" minOccurs="0" name="EnviarDatosEpisodioResult" nillable="true" type="q20:Resultado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarDatosExamenFisico">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/WcfServiceProveedorExterno" minOccurs="0" name="XML" nillable="true" type="q21:EstructuraDatosExamenFisico" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarDatosExamenFisicoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/WcfServiceProveedorExterno" minOccurs="0" name="EnviarDatosExamenFisicoResult" nillable="true" type="q22:Resultado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarDatosExamenOcularVB">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/WcfServiceProveedorExterno" minOccurs="0" name="XML" nillable="true" type="q23:EstructuraDatosExamenOcularVB" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarDatosExamenOcularVBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/WcfServiceProveedorExterno" minOccurs="0" name="EnviarDatosExamenOcularVBResult" nillable="true" type="q24:Resultado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarDatosHabitosToxicos">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/WcfServiceProveedorExterno" minOccurs="0" name="XML" nillable="true" type="q25:EstructuraDatosHabitosToxicos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarDatosHabitosToxicosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/WcfServiceProveedorExterno" minOccurs="0" name="EnviarDatosHabitosToxicosResult" nillable="true" type="q26:Resultado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarDatosHistoriaFamiliar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/WcfServiceProveedorExterno" minOccurs="0" name="XML" nillable="true" type="q27:EstructuraDatosHistoriaFamiliar" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarDatosHistoriaFamiliarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/WcfServiceProveedorExterno" minOccurs="0" name="EnviarDatosHistoriaFamiliarResult" nillable="true" type="q28:Resultado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarDatosHistorialFisiologico">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/WcfServiceProveedorExterno" minOccurs="0" name="XML" nillable="true" type="q29:EstructuraDatosHistorialFisiologico" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarDatosHistorialFisiologicoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/WcfServiceProveedorExterno" minOccurs="0" name="EnviarDatosHistorialFisiologicoResult" nillable="true" type="q30:Resultado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarDatosHistoriaLaboral">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/WcfServiceProveedorExterno" minOccurs="0" name="XML" nillable="true" type="q31:EstructuraDatosHistoriaLaboral" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarDatosHistoriaLaboralResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/WcfServiceProveedorExterno" minOccurs="0" name="EnviarDatosHistoriaLaboralResult" nillable="true" type="q32:Resultado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarDatosHistoriaLaboralRI">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/WcfServiceProveedorExterno" minOccurs="0" name="XML" nillable="true" type="q33:EstructuraDatosHistoriaLaboralRI" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarDatosHistoriaLaboralRIResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/WcfServiceProveedorExterno" minOccurs="0" name="EnviarDatosHistoriaLaboralRIResult" nillable="true" type="q34:Resultado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarDatosMedicaciones">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/WcfServiceProveedorExterno" minOccurs="0" name="XML" nillable="true" type="q35:EstructuraDatosMedicaciones" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarDatosMedicacionesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/WcfServiceProveedorExterno" minOccurs="0" name="EnviarDatosMedicacionesResult" nillable="true" type="q36:Resultado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarDatosVacunas">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/WcfServiceProveedorExterno" minOccurs="0" name="XML" nillable="true" type="q37:EstructuraDatosVacunas" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarDatosVacunasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/WcfServiceProveedorExterno" minOccurs="0" name="EnviarDatosVacunasResult" nillable="true" type="q38:Resultado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarDatosVigilanciaSalud">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/WcfServiceProveedorExterno" minOccurs="0" name="XML" nillable="true" type="q39:EstructuraDatosVigilanciaSalud" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarDatosVigilanciaSaludResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/WcfServiceProveedorExterno" minOccurs="0" name="EnviarDatosVigilanciaSaludResult" nillable="true" type="q40:Resultado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarDatosLecturaOIT">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/WcfServiceProveedorExterno" minOccurs="0" name="XML" nillable="true" type="q41:EstructuraDatosLecturaOIT" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarDatosLecturaOITResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/WcfServiceProveedorExterno" minOccurs="0" name="EnviarDatosLecturaOITResult" nillable="true" type="q42:Resultado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarDatosLecturaPsicologia">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/WcfServiceProveedorExterno" minOccurs="0" name="XML" nillable="true" type="q43:EstructuraDatosPsicologia" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarDatosLecturaPsicologiaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/WcfServiceProveedorExterno" minOccurs="0" name="EnviarDatosLecturaPsicologiaResult" nillable="true" type="q44:Resultado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>