Sigesoft/node/winclient/ui/Service References/NatclarXML/WSRIProveedorExterno.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WSRIProveedorExterno" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://200.107.148.214:9152/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://200.107.148.214:9152/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://200.107.148.214:9152/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfServiceProveedorExterno" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWSRIProveedorExterno_EnviarDatosPaciente_InputMessage">
    <wsdl:part name="parameters" element="tns:EnviarDatosPaciente" />
  </wsdl:message>
  <wsdl:message name="IWSRIProveedorExterno_EnviarDatosPaciente_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnviarDatosPacienteResponse" />
  </wsdl:message>
  <wsdl:message name="IWSRIProveedorExterno_EnviarDatosExamen_InputMessage">
    <wsdl:part name="parameters" element="tns:EnviarDatosExamen" />
  </wsdl:message>
  <wsdl:message name="IWSRIProveedorExterno_EnviarDatosExamen_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnviarDatosExamenResponse" />
  </wsdl:message>
  <wsdl:message name="IWSRIProveedorExterno_EnviarDatosAlergias_InputMessage">
    <wsdl:part name="parameters" element="tns:EnviarDatosAlergias" />
  </wsdl:message>
  <wsdl:message name="IWSRIProveedorExterno_EnviarDatosAlergias_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnviarDatosAlergiasResponse" />
  </wsdl:message>
  <wsdl:message name="IWSRIProveedorExterno_EnviarDatosAPMedicos_InputMessage">
    <wsdl:part name="parameters" element="tns:EnviarDatosAPMedicos" />
  </wsdl:message>
  <wsdl:message name="IWSRIProveedorExterno_EnviarDatosAPMedicos_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnviarDatosAPMedicosResponse" />
  </wsdl:message>
  <wsdl:message name="IWSRIProveedorExterno_EnviarDatosAPQuirurgicos_InputMessage">
    <wsdl:part name="parameters" element="tns:EnviarDatosAPQuirurgicos" />
  </wsdl:message>
  <wsdl:message name="IWSRIProveedorExterno_EnviarDatosAPQuirurgicos_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnviarDatosAPQuirurgicosResponse" />
  </wsdl:message>
  <wsdl:portType name="IWSRIProveedorExterno">
    <wsdl:operation name="EnviarDatosPaciente">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSRIProveedorExterno/EnviarDatosPaciente" message="tns:IWSRIProveedorExterno_EnviarDatosPaciente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSRIProveedorExterno/EnviarDatosPacienteResponse" message="tns:IWSRIProveedorExterno_EnviarDatosPaciente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EnviarDatosExamen">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSRIProveedorExterno/EnviarDatosExamen" message="tns:IWSRIProveedorExterno_EnviarDatosExamen_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSRIProveedorExterno/EnviarDatosExamenResponse" message="tns:IWSRIProveedorExterno_EnviarDatosExamen_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EnviarDatosAlergias">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSRIProveedorExterno/EnviarDatosAlergias" message="tns:IWSRIProveedorExterno_EnviarDatosAlergias_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSRIProveedorExterno/EnviarDatosAlergiasResponse" message="tns:IWSRIProveedorExterno_EnviarDatosAlergias_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EnviarDatosAPMedicos">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSRIProveedorExterno/EnviarDatosAPMedicos" message="tns:IWSRIProveedorExterno_EnviarDatosAPMedicos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSRIProveedorExterno/EnviarDatosAPMedicosResponse" message="tns:IWSRIProveedorExterno_EnviarDatosAPMedicos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EnviarDatosAPQuirurgicos">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSRIProveedorExterno/EnviarDatosAPQuirurgicos" message="tns:IWSRIProveedorExterno_EnviarDatosAPQuirurgicos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSRIProveedorExterno/EnviarDatosAPQuirurgicosResponse" message="tns:IWSRIProveedorExterno_EnviarDatosAPQuirurgicos_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWSRIProveedorExterno" type="tns:IWSRIProveedorExterno">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EnviarDatosPaciente">
      <soap:operation soapAction="http://tempuri.org/IWSRIProveedorExterno/EnviarDatosPaciente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarDatosExamen">
      <soap:operation soapAction="http://tempuri.org/IWSRIProveedorExterno/EnviarDatosExamen" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarDatosAlergias">
      <soap:operation soapAction="http://tempuri.org/IWSRIProveedorExterno/EnviarDatosAlergias" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarDatosAPMedicos">
      <soap:operation soapAction="http://tempuri.org/IWSRIProveedorExterno/EnviarDatosAPMedicos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarDatosAPQuirurgicos">
      <soap:operation soapAction="http://tempuri.org/IWSRIProveedorExterno/EnviarDatosAPQuirurgicos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSRIProveedorExterno">
    <wsdl:port name="BasicHttpBinding_IWSRIProveedorExterno" binding="tns:BasicHttpBinding_IWSRIProveedorExterno">
      <soap:address location="http://200.107.148.214:9152/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>